[submodule "vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "auto-pairs"]
	path = bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "jshint"]
	path = bundle/jshint
	url = https://github.com/wookiehangover/jshint.vim.git
[submodule "colors-brighton"]
	path = bundle/colors-brighton
	url = https://github.com/MvanDiemen/brighton.vim.git
[submodule "colors-dracula"]
	path = bundle/colors-dracula
	url = https://github.com/dracula/vim.git
[submodule "colors-lucario"]
	path = bundle/colors-lucario
	url = https://github.com/raphamorim/lucario.git
[submodule "colors-madeofcode"]
	path = bundle/colors-madeofcode
	url = https://github.com/bruschill/madeofcode.git
[submodule "colors-lucid"]
	path = bundle/colors-lucid
	url = https://github.com/cseelus/vim-colors-lucid.git
[submodule "colors-moriarty"]
	path = bundle/colors-moriarty
	url = https://github.com/aliou/moriarty.vim.git
[submodule "bundle/vim-csharp"]
	path = bundle/vim-csharp
	url = https://github.com/OrangeT/vim-csharp.git
[submodule "bundle/ale"]
	path = bundle/ale
	url = https://github.com/w0rp/ale.git
[submodule "bundle/ts-syntax"]
	path = bundle/ts-syntax
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/NERDTree"]
	path = bundle/NERDTree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/coc-intellisense"]
	path = bundle/coc-intellisense
	url = https://github.com/neoclide/coc.nvim.git
